<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Task Manager</title>
</head>
<body>
    <h1>Task Manager</h1>
    <div class="task-container">
        <div class="task-list">
            <h2>Pending</h2>
            <ul id="pending-tasks" class="task-ul" data-status="Pending"></ul>
            <input type="text" id="new-pending-task" placeholder="Task Name">
            <input type="text" id="new-pending-description" placeholder="Description">
            <select id="new-pending-priority">
                <option value="Low">Low</option>
                <option value="Medium" selected>Medium</option>
                <option value="High">High</option>
            </select>
            <input type="date" id="new-pending-date" min="">
            <button onclick="addTask('Pending')">Add</button>
        </div>
        <div class="task-list">
            <h2>In Progress</h2>
            <ul id="in-progress-tasks" class="task-ul" data-status="In Progress"></ul>
        </div>
        <div class="task-list">
            <h2>Done</h2>
            <ul id="done-tasks" class="task-ul" data-status="Done"></ul>
        </div>
    </div>
    <div class="status-checker">
        <select id="status-select">
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
        </select>
        <button onclick="fetchTasksByStatus()">Check Status</button>
    </div>
    <div class="date-checker">
        <input type="date" id="date-input">
        <button onclick="fetchTasksByDate()">Check Tasks by Date</button>
    </div>
    <div class="priority-checker">
        <select id="priority-select">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <button onclick="fetchTasksByPriority()">Check Tasks by Priority</button>
    </div>
    <button id="accept-button" onclick="acceptChanges()">Accept</button>

    <script src="/static/js/script.js"></script>
</body>
</html>